[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
leetcode-moeka = {editable = true, path = "."}

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
setuptools = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
